<app-loader *ngIf="displayLoader"></app-loader>
<mat-toolbar>
  <button mat-icon-button (click)="goBack()">
   <mat-icon>arrow_back</mat-icon>
 </button>
 <span class="example-spacer"></span>

 <button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editDialog()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="deleteDialog()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
</mat-toolbar>
<div *ngIf="playlist" class="playlist-page">
    <h1>
        {{playlist.name}}
    </h1>
    <h4>
        {{playlist.description}}
    </h4>

    <h5>{{playlist.strict ? 'All tracks with tags :': 'All tracks with at least one tag :'}}</h5>
    <mat-chip-list  class="tags" #chipList [multiple]="true" [selectable]="false">
        <mat-chip 
        #chip="matChip"
          *ngFor="let tag of playlist.tags"
          [value]="tag"
          [selected]="true"
          [selectable]="true"
          
          >
          {{tag}}
        </mat-chip>
      </mat-chip-list>
      <app-spotify-redirection-buttton fxHide.xs fxShow [spotifyLink]="spotifyRedirection"></app-spotify-redirection-buttton>

      <mat-paginator [length]="this.metadata.total"
              [pageSize]="this.metadata.limit"
              [pageSizeOptions]="[20,50]"
              (page)="handlePaginatorEvent($event)"
              aria-label="Select page">
    </mat-paginator>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" >
      
      <!-- Photo Column -->
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let track"><img [src]="track.image" /></td>
      </ng-container>
    
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let track">{{track.title}}</td>
      </ng-container>
  
       <!-- Artist Column -->
       <ng-container matColumnDef="artist">
        <th mat-header-cell *matHeaderCellDef>Artist</th>
        <td mat-cell *matCellDef="let track">{{track.artistName}}</td>
      </ng-container>
    
      <!-- Album Column -->
      <ng-container  matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef>Album</th>
        <td mat-cell *matCellDef="let track">{{track.albumTitle}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>