<mat-toolbar *ngIf="showNavbar" class="position-fixed" color="primary">
    <mat-toolbar-row>
        <button fxShow.xs fxHide mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/../tags">Tags</button>
            <button mat-menu-item routerLink="../playlists">Playlists</button>
            <button mat-menu-item routerLink="../profile">Profile</button>

        </mat-menu>
            <div fxHide.xs fxShow>
                <a mat-button routerLink="/../tags">Tags</a>
                <a mat-button routerLink="../playlists">Playlists</a>
                <a mat-button routerLink="../profile">Profile</a>


            </div>
            <span class="example-spacer"></span>

            <button  mat-raised-button (click)="logout()">Logout</button>

    </mat-toolbar-row>
</mat-toolbar>