<mat-toolbar *ngIf="showNavbar" class="position-fixed" color="primary">
    <mat-toolbar-row>
        <button fxShow.xs fxHide mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/../tags">Tags</button>
            <button mat-menu-item routerLink="../export">Export</button>

        </mat-menu>
            <div fxHide.xs fxShow>
                <a mat-button routerLink="/../tags">Tags</a>
                <a mat-button routerLink="../export">Export</a>


            </div>
            <span class="example-spacer"></span>
            <app-profile-page></app-profile-page>

    </mat-toolbar-row>
</mat-toolbar>