<mat-toolbar *ngIf="showNavbar" class="position-fixed" color="primary">
    <mat-toolbar-row>
        <button fxShow.xs fxHide mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/" (click)="onTagsClick()">Tags</button>
            <button mat-menu-item routerLink="/playlists">Playlists</button>

        </mat-menu>
        <div fxHide.xs fxShow>
            <a mat-button routerLink="/" (click)="onTagsClick()">Tags</a>
            <a mat-button routerLink="/playlists">Playlists</a>
        </div>
        <span class="example-spacer"></span>
        <a href="https://open.spotify.com" target="_blank">
            <mat-icon id = "spotify-svg"
            svgIcon="spotify-logo"></mat-icon>
        </a>
        <app-profile-page></app-profile-page>
        
    </mat-toolbar-row>
</mat-toolbar>