.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }

  img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin : 3px

  }

  .mat-cell {
    padding: 0px 8px 0 8px;
  }

  .chip-datasource{
    margin : 5px
  }

   .tags {
    margin: 3px;
  }

  .categories{
    margin : 10px
  }

  mat-form-field{
    margin : 5px
  }

  mat-chip-list {
    margin : 10px
  }




 