<app-loader [isLoading]=true></app-loader>

<div class="categories">
<mat-chip-list  aria-label="Fish selection" (change)="onChipChange($event)">
  <mat-chip 
    #chipRef="matChip"
    (click)="chipRef.selectViaInteraction()"
    *ngFor="let chip of availableChips"
    [selected]="chip.selected"
    [value]="chip.name"
  >
    {{chip.display}}
  </mat-chip>
</mat-chip-list>
</div>
<mat-divider></mat-divider>
<div *ngIf="selectedChip=='tags'" class="tagsSearch">
<mat-form-field  appearance="standard">
  <input  [(ngModel)]="query" [value]="query" (keyup)="applySearch($event)" type="search" matInput placeholder="Search">
  <button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
    <mat-icon>close</mat-icon>
  </button>  
</mat-form-field>
  <button mat-mini-fab color="primary" class="filter-button" (click)="openFilterDialog()">
    <mat-icon>filter_list</mat-icon>
  </button>
  <mat-chip-list  #chipList [multiple]="true" [selectable]="true">
    <mat-chip 
    #chip="matChip"
      *ngFor="let filter of tags"
      [value]="filter"
      [selected]="true"
      [selectable]="true"
      (click)="chip.toggleSelected()"
      (selectionChange)="onFilterChipChange($event, filter)"
      >
      {{filter}}
    </mat-chip>
  </mat-chip-list>
</div>
        <!-- Array -->

    <mat-paginator [length]="this.metadata.total"
              [pageIndex]="this.metadata.page"
              [pageSize]="this.metadata.limit"
              [pageSizeOptions]="[20,50]"
              (page)="handlePaginatorEvent($event)"
              aria-label="Select page">
  </mat-paginator>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" >
      
    <!-- Photo Column -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef>Photo</th>
      <td mat-cell *matCellDef="let tagtrack"><img [src]="tagtrack.track.image" /></td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let tagtrack">{{tagtrack.track.title}}</td>
    </ng-container>

     <!-- Artist Column -->
     <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef>Artist</th>
      <td mat-cell *matCellDef="let tagtrack">{{tagtrack.track.artistName}}</td>
    </ng-container>
  
    <!-- Album Column -->
    <ng-container  matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef>Album</th>
      <td mat-cell *matCellDef="let tagtrack">{{tagtrack.track.albumTitle}}</td>
    </ng-container>
  
    <!-- Tags Column -->
    <ng-container  matColumnDef="tags">
      <th  mat-header-cell *matHeaderCellDef>Tags</th>
      <td   mat-cell *matCellDef="let tagtrack">
        <mat-chip-list class = "tags" [selectable] = false focused=false>
          <mat-chip  [selectable]=false chipListSelectable = false  *ngFor="let tag of tagtrack.tags | slice:0:nbTagsToDisplay">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="clickable" id="{{row.track.id}}" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickRow(row)"></tr>
  </table>
