<div *ngIf="tagtrack" class="track-page">
  <mat-toolbar>
    <button mat-icon-button (click)="goBack()">
     <mat-icon>arrow_back</mat-icon>
   </button>
  </mat-toolbar>
    <img [src]="tagtrack.track.image" />

    <h1>
        {{tagtrack.track.title}}
    </h1>
    <h3>
      {{tagtrack.track.artistName}}
  </h3>
    <h4>
        {{tagtrack.track.albumTitle}} - {{tagtrack.track.releaseDate | date: 'longDate' : '' : 'fr-FR'}}
    </h4>

    
    <mat-chip-list  #chipList [multiple]="true" [selectable]="true">
        <mat-chip 
        #chip="matChip"
          *ngFor="let tag of tagNames"
          [value]="tag"
          [selected]="tagtrack.tags.includes(tag)"
          [selectable]="true"
          (click)="chip.toggleSelected(); onChipChange(tag)"
          >
          {{tag}}
        </mat-chip>
      </mat-chip-list>
      <div class="input">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Add Tag</mat-label>
        <input matInput type="text" [(ngModel)]="value" [value]="value" (keyup.enter)="addTag()">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
        <button mat-mini-fab color="primary" (click)="addTag()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
</div>